<!doctype html>
<html lang="{{ lang | default('it') }}">
  {% include "head.njk" %}
  <body>
    {% include "navBar.njk" %}
    <main id="main-content" class="container py-4">
      {{ content | safe }}
    </main>
    {% include "footer.njk" %}
    {% include "bottom.njk" %}
  </body>
</html>