<footer class="text-center mt-4">
    <div>Magic-Solutions®
      <span id="t1">◭</span>
      <span id="t2">◬</span>
      <span id="t3">⨹</span>
      <span id="t4">⟁</span>
      <span id="t5">◮</span>
      {% year %}
    </div>
  </footer>