<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="{{ description | default('Sito statico generato con Eleventy e Bootstrap 5') }}" />
  <meta name="generator" content="Eleventy" />
  <title>{{ title | default('My 11ty Site') }}</title>
  <link rel="stylesheet" href="/assets/vendor/bootstrap/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/styles.css" />
</head>