---
layout: base.njk
title: Home
---

<p class="h2">Benvenuto nel mio sito 11ty</p>

Questo è un esempio di un sito statico creato con 11ty e Bootstrap.
<div class="row">
  <div class="col-sm"></div>
  <div class="col-sm">
    <div class="media">{% tubeFrame "dQw4w9WgXcQ", true %}</div></div>
  <div class="col-sm"></div>
</div>
