---
layout: base.njk
title: Home
description: Template base Eleventy con Bootstrap 5.
---

<h1 class="h2">Benvenuto nel mio sito 11ty</h1>

<p>Questo è un esempio di sito statico creato con Eleventy e Bootstrap 5.</p>

<div class="row justify-content-center">
  <div class="col-12 col-md-8 col-lg-6">
    {% tubeFrame "dQw4w9WgXcQ", true %}
  </div>
</div>